@import "tailwindcss";
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

.font-robotoMono {
  font-family: "Roboto Mono", monospace;
}

.font-firaCode {
  font-family: "Fira Code", monospace;
}
